@charset "UTF-8";
/* CSS Document */

body{
    background-color:#ddd;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
}

a{
    text-decoration: none;
    color:#555;
}

li{
    list-style: none;
}

.comName {
    font-weight: bold;
    color:#fff;
    font-size:1.5em;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}

/*index页面banner轮播图*/
.banner{
    width: 100%;
    height: 450px;/**/
    position: relative;
}

.banner a{
    color: #fff;
}

/*非index页面顶部菜单的背景*/
.daohang{
    width: 100%;
    padding: 3.2em 0;
    position: relative;
    background-color: #06c;
}

.daohang a{
    color: #fff;
}

/*顶部菜单部分*/
nav{
    position: absolute;
    top: 0.5em;
    left: 5%;
}

nav ul{
    position: relative;
    float: right;
}

nav ul li{
    color:#fff;
    font-weight: bold;
    font-size:1.2em;
    padding: 1em; /* 各菜单之间距离 */
    display: inline-block; /*让块级元素在一行显示*/
}

nav ul li a{
    color:#fff;
}

nav ul li a:active{
    color:#000;
}

/* 顶部右边的联系我们 */
.tel{
    position: absolute;
    top:0.5em;
    right: 3%;
    padding: 0.8em 0.8em 0.1em;
    background-color: rgba(190, 190, 190, 0.6);
    font-size: 0.95em;
    color:#fff;
}

.tel img{
    float: left;
    margin-right: 0.5em;
}

/* 轮播图的切换按钮 */
.bannerItem {
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    left:45%;
    bottom: 5%;
}

/* 底部 */
#foot {
    width: 100%;
    position: relative;
    padding:0.5em 0;
    text-align: center;
    background:#333;
    color:#bbb;
}

/*顶部和底部之间*/
#content {
    width: 75%;
    margin: auto;
    position: relative;
    overflow: hidden;
    background: #fff;
    color: #555;
    text-indent: 2em;    
}

#content img{
    margin: 0 auto;
    display: block;
}

#content iframe{
    margin: 0 auto;
    display: block;
}

/*index页面，banner以下正文部分*/
/*子模块标题*/
.indexTitle{
    /*字*/
    font-family: "黑体";
    color: #aaa;
    font-size: 2em;
    /*字间*/
    text-indent: 0;
    letter-spacing: 0.1em;
    /*段落*/
    text-align: center;
    width: fit-content;
    padding: 1%;
    margin: 5% auto 2%;    
}

.indexTitle::after{
    content: "";
    background: linear-gradient(to right, #188eee, #999);
    display: block;    
    width: 100%;
    height: 3px; 
    margin: 3% auto;
}

/*子模块内容*/
.indexCont1{
    background-color: #eee;
    padding: 2% 0;
}

.indexCont1 li{
    width: 31%;
    display: inline-block;
    vertical-align: top;
}

.indexCont1 img{
    width: 90%;
    height: 160px;
    margin:auto;
}
.indexCont1 h2{
    font-size: 1.1em;
    font-family: "思源黑体";
    text-align: center;
    text-indent: 0;
}

.indexCont1 p{
    font-size:0.5em;
    text-align: left;
    padding:2% 4%;
}

.indexCont2{
    /*字*/
    font-size: 0.8em;
    /*字间*/
    text-indent: 0;
    /*段落*/
    width: 50%;
    padding: 0.2% 1%;
    margin: 0 3% 1%;
    border-bottom: 1px dashed #999; /*下划线 虚线*/
    /*块*/
    float: right;
}

.indexCont2::before{
    content:">";
}

.indexCont2 span{
    float: right;
    text-align: right;
}

.indexCont3{
    /*字*/
    font-size: 0.8em;
    /*字间*/
    text-indent: 0;
    /*段落*/
    width: 40%;
    /*块*/
    float: left;    
}

.indexCont4{
    text-indent: 0;
    margin: auto;
}

.indexCont4 li{
    width: 25%;
    display: inline-block;
    margin: 1%;
    padding: 2%;
}

.more{
    margin: auto;
    padding: 1% 2%;
    background: linear-gradient(to right, #188eee, #999); 
    width: fit-content; /*根据内容自适应长度*/
    border-radius:15px;
    text-indent: 0; 
    clear: both;
}

.more a {
    color:#fff;    
}

.title{
    font-size: 2em;
    text-align: left;
    padding:0.4% 1%;
    letter-spacing:0.3em;
}

.zhengwen{
    line-height: 200%;
    letter-spacing:0.1em;
    text-align: left;       
    width: 80%;
    margin: auto;
    padding: 1%;
}

/*新闻类目选项卡的基础样式*/
.cateChoose{
    float: left;
    display: inline-block;
    text-indent: 0;
    padding: 2%;
    margin: 2% 1%;
    border: 0;
    background:#fff;
    font-size: 1.1em;
}

/*新闻类目选项卡的切换样式：鼠标*/
.cateChoose:hover{
    background: #06c;
    color:#fff;
}

/*新闻类目选项卡的切换样式：键盘*/
.cateChoose:focus{
    background: #06c;
    color:#fff;
}

.cateChoose::after {
      content: "";
      display: table;
      clear: both;
    }

/*新闻类目选项卡的切换样式：点击后无边框*/
button{
    outline: none;
}

/*新闻类目内容*/
.tabContent{
    clear: both;
    margin: 2% 8% ;
    overflow: hidden;
    height: 100%;
}

/*新闻类目内容：配合js的显示功能*/
.show{
    display: block;
}

/*新闻类目内容：配合js的隐藏功能*/
.hidden{
    display: none;
}

.newscontent{
    clear: both;
    margin: 2% 8% ;
    overflow: hidden;
    height: 0;
    padding-bottom: 18em;
    vertical-align: middle;
}

.primary{
    width: 46%;
    float: left;
    text-align: left;
    margin: 0 2% ;
}

.second{
    width: 18%;
    float: left;
    text-align: center;
    color: #ccc;
    font-size: 1.8em;
    margin: 8% auto;
}

.newsTitle{
    font-size: 1.4em;
    color:#777;
    text-align: center;
}

.newsZhengwen{
    font-size: 0.9em;
    color:#777;    
}

.newsDate{
    text-align: center;
}

.pagination{
    text-align: center;
}

.pagination a{
    color: #777;
}

.newsimage{
    float: right;
    width: 30%;
    margin: 10% 2%;
    height: 150px;
    overflow: hidden;
}

.zhengwenimage{
    width: 60%;
    margin: auto;
}

.previous{
    float: left;
    line-height: 200%;
    padding: 1% 2%;
}

.next{
    float: right;
    line-height: 200%;
    padding: 1% 2%;
}
