@charset "UTF-8";
/* CSS Document */

body{
    background-color:#06c;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
}

a{
    text-decoration: none;
    color:#fff;
}

li{
    list-style: none;
}

.get-title {
    font-weight: bold;
    color:#fff;
    font-size:1.5em;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}

.banner{
    width: 100%;
    height: 400px;
    position: relative;
    background-position: center;
    text-align: center;
}

.daohang{
    width: 100%;
    height: 100px;
    position: relative;
    background-position: center;
    text-align: center;
}

nav{
    position: absolute;
    top: 0.5em;
    left: 5%;
}

nav ul{
    position: relative;
    float: right;
}

nav ul li{
    color:#fff;
    font-weight: bold;
    font-size:1.2em;
    padding: 1em; /* 各菜单之间距离 */
    display: inline-block; /*让块级元素在一行显示*/
}

nav ul li a:active{
    text-decoration:none;
    background-color: #06c;
    color:#000;
}

.tel{
    display: inline-block;
    position: absolute;
    top:0.5em;
    right: 3%;
    padding: 0.8em 0.8em 0.1em;
    background-color: rgba(190, 190, 190, 0.6);
    font-size: 0.95em;
}

.tel img{
    float: left;
    margin-right: 0.5em;
}

.img-item {
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    left:45%;
    top:85%;
}

#content {
    width: 100%;
    /*height: 800px;*/
    position: relative;
    background-position: center;
    background:#fff;
    color:#000;
    text-align: center;
    overflow: hidden;
}
#foot {
    width: 100%;
    height: 80px;
    position: relative;
    background-position: center;
    padding-top:0.5em;
    text-align: center;
    background:#ccc;
    color:#000;
}

.title{
    position: relative;
    left:3%;
    font-size: 2em;
    text-align: left;
    padding:1em;
    color:#555;
}

.zhengwen{
    position: relative;
    left:5%;
    color:#555; 
    text-align: left; 
    text-indent: 2em;  
    width: 90%;
}

.office{
    position: relative;
}

#dituContent{
    position: relative;
    width:700px;
    height:500px;
    margin: auto;
    padding: 1%;
    border:#c3c solid 5px;
}

.iw_poi_title {
    color:#CC5522;
    font-size:14px;
    font-weight:bold;
    overflow:hidden;
    padding-right:13px;
    white-space:nowrap
}
.iw_poi_content {
    font:12px arial,sans-serif;
    overflow:visible;
    padding-top:4px;
    white-space:-moz-pre-wrap;
    word-wrap:break-word
}