<!DOCTYPE html>
<html>
    {% extends 'frame.html' %}
    {% load static %}
    {% block title %}{{ article.title }}-News-Zeropoint IT{% endblock %}
    {% block description %}{{ article.abstract }}{% endblock %}
    <body>
        {% block content %}
        <div class="menuBackground">
            {% include 'nav.html' %}
        </div>
        <div id="content">
            <p style="text-align: left"> <a href="{% url 'news:index' %}" >新闻资讯</a> >> <a href="{% url 'news:category' cate.id %}"> {{cate.name}}</a> >> {{ article.title }}</p>
            <h1 class="newsTitle" > {{ article.title }}</h1>
            <p class="newsDate"> {{ article.date | date:"Y-m-d"}} </p>
            <img class="zhengwenimage" src="{{ MEDIA_URL }}{{ article.image }}" >
            <div class="maintext">  {{ article.content | safe}} </div>
            {% if previous_caseArc != next_caseArc %}
                {% if previous_article %}
                    <a class="previous" href="{% url 'news:article_detail' previous_article.id %}">上一篇: {{ previous_article.title }} </a>
                {% else %}
                    <div class="previous">已经是第一篇了</div>
                {% endif %}
                {% if next_article %}
                    <a class="next" href="{% url 'news:article_detail' next_article.id %}">下一篇: {{ next_article.title }} </a>
                {% else %}
                    <div class="next">已经是最后一篇了</div>
                {% endif %}
                <br/>
            {% else %}
                <br/>
            {% endif %}
        </div>        
        {% endblock %}
    </body>
</html>