<!DOCTYPE html>
<html>
    {% extends 'frame.html' %}
    {% load static %}
    {% block title %}{{ article.title }}-News-Zeropoint IT{% endblock %}
    {% block description %}{{ article.abstract }}{% endblock %}
    <body>
        {% block content %}
        <div class="daohang">
            {% include 'nav.html' %}
        </div>        
        <div id="content">
            <p style="text-align: left"> <a href="{% url 'news:index' %}" >新闻资讯</a> >> {{ article.title }}</p>
            <h1 class="newsTitle" > {{ article.title }}</h1>
            <p class="newsDate"> {{ article.date | date:"Y-m-d"}} </p>
            <img src="{{ MEDIA_URL }}{{ article.image }}" >
            <p class="zhengwen">  {{ article.content | safe}} </p>
        </div>        
        {% endblock %}
    </body>
</html>