<!DOCTYPE html>
<html>
    {% extends 'frame.html' %}
    {% load static %}
    {% block title %}News-Zeropoint IT{% endblock %}
    {% block description %}三维电子沙盘新闻资讯。{% endblock %}
    <body>
        {% block content %}
        <div class="daohang">
            {% include 'nav.html' %}
        </div>        
        <div id="content">
            <p class="title">行业新闻</p>
            {% if news_list %}
                <ul>
                    {% for elem in news_list %}
                        <li>
                            <div class="newscontent">
                                <hr/>
                                <div class="primary">
                                    <p class="newsTitle" >{{ elem.title }}</p>
                                    <p class="newsZhengwen" >{{ elem.abstract }}</p>
                                </div>
                                <p class="second">{{ elem.date }}</p>

                            </div>

                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>暂无新闻</p>
            {% endif %}
            <div class="pagination">
                {% if news_list.has_previous %}
                    <a href="?page={{news_list.previous_page_number}}">上一页</a>
                {% endif %}
                <span class="pagination">
                    第 {{ news_list.number }} 页 / 共 {{ news_list.paginator.num_pages }} 页
                  </span>
                {% if news_list.has_next %}
                    <a href="?page={{news_list.next_page_number}}">下一页</a>
                {% endif %}                
            </div>
            <br>
        </div>        
        {% endblock %}
    </body>
</html>