@charset "UTF-8";
/* CSS Document */

 .get-title {
  font-size: 200%;
  border: 2px solid #fff;
  padding: 5px;
  display: inline-block;
}

 .get {
  background: #85c80f;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}

.labeltitle{
  background:#c6d7d2;
  color:#000000;
  font-size: 150%;
  text-align: left;
  padding: 5px 0 5px 0;
  font-weight:bold;
}

.labelrecord{
  background-color: #c6d7d2;
  text-align: left;
  padding: 2px 0 2px 0;
  font-size: 16px;  
}

.nav{             
    background:#85c80f;
    text-align: center;
    list-style-type:none;
    margin:0;
    padding:0;
}

.nav_li{
    margin:auto; 
    padding:inherit; 
    line-height:45px;
}

.nav_li li{ 
    width:10%;
    display: inline-block;
}

.nav_li a{ 
    font-size:14px;
    font-weight:bold;
    display:block; /* 将链接设为块级元素 */
    padding:1px 1px; /* 设置内边距 */
    background:#85c80f; /* 设置背景色 */
    color:#fff; /* 设置文字颜色 */
    text-decoration:none; /* 去掉下划线 */
    border-right:1px solid #fff; /* 在左侧加上分隔线 */
}

.nav_li ul li:hover{ 
    background:rgb(83,83,83);
}

.nav_li ul li ul li{
    background:rgb(164,0,0);
    color: #FFF; 
    width: 50px;
    padding: 0px;
    height: 20px; 
    line-height: 20px;
}