<head>
        {% load static %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static '/styles/main.css' %}">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
</head>
<body>
    {% block content %}{% endblock %}
    <div id="foot">
        <p>Copyright 2020-2022 © 苏州零点坐标信息技术有限公司</p>
        <p>All Rights Reserved   苏ICP备08000108号</p>
    </div>
</body>