<!DOCTYPE html>
<html>
    {% extends 'frame.html' %}
    {% load static %}
    {% block title %}Home-Zeropoint IT{% endblock %}
    {% block description %}我们在美丽的太湖之滨。{% endblock %}
    <body>
        {% block content %}
        <div class="banner">
            <img id="placeholder" src="{% static '/images/hills.jpg' %} " class="banner" />
            {% include 'nav.html' %}
            <div class="bannerItem">
                <a href="{% static '/images/hills.jpg' %}" onmouseover="showPic(this); return false;" onclick="return false;" >·</a></li>
                <a href="{% static '/images/stone.jpg' %}" onmouseover="showPic(this); return false;" onclick="return false;" >·</a></li>
                <a href="{% static '/images/sea.jpg' %}"   onmouseover="showPic(this); return false;" onclick="return false;" >·</a></li>
            </div>            
        </div>
        <div id="content">
            <p class="indexTitle" >解决方案·SOLUTION</p>
            <div class="indexCont1">
                 {% if solution_list %}
                    <ul>
                        {% for elem in solution_list %}
                            <li>
                                <a href="{% url 'solution:solution_detail' elem.id %} ">
                                    <img src="{{ MEDIA_URL }}{{ elem.image }}">
                                    <h2>{{elem.title}}</h2>
                                    <p>{{elem.abstract | slice:":100"}}……</p>
                                </a> 
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>暂无方案</p>
                {% endif %}
                <div class="more" ><a href="/solution" >MORE INFO</a></div>
            </div>

            <p class="indexTitle" >典型案例·CASE</p>
            <div class="indexCont1">
                 {% if case_list %}
                    <ul>
                        {% for elem in case_list %}
                            <li>
                                <a href="{% url 'case:case_detail' elem.id %} ">
                                    <img src="{{ MEDIA_URL }}{{ elem.image }}">
                                    <h2>{{elem.title}}</h2>
                                    <p>{{elem.abstract | slice:":100"}}……</p>
                                </a>                                
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>暂无案例</p>
                {% endif %}
                <div class="more"> <a href="/case" >MORE INFO</a></div>
            </div>

            <p class="indexTitle" >最新资讯·NEWS</p>
            <div class="indexCont1">
                 {% if news_list %}
                    <ul>
                        {% for elem in news_list %}
                            {% if forloop.first %}
                                <div class="indexCont3">
                                    <a href="{% url 'news:article_detail' elem.id %} ">
                                        <img src="{{ MEDIA_URL }}{{ elem.image }}">
                                        <h2>{{ elem.title }}</h2> 
                                    </a>
                                </div>
                            {% else %}
                                <div class="indexCont2">
                                    <a href="{% url 'news:article_detail' elem.id %} ">
                                        {{ elem.title }} <span> {{ elem.date }} </span>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>暂无新闻</p>
                {% endif %}
                <div class="more"> <a href="/news" >MORE INFO</a></div>
            </div>
            
            <p class="indexTitle" >合作伙伴·PARTNER</p>
            <div class="indexCont4">
                <ul>
                    <li><img src="{% static '/images/logo/01.png' %} "/></li>
                    <li><img src="{% static '/images/logo/02.png' %} "/></li>
                    <li><img src="{% static '/images/logo/03.png' %} "/></li>
                    <li><img src="{% static '/images/logo/04.png' %} "/></li>
                    <li><img src="{% static '/images/logo/05.png' %} "/></li>
                    <li><img src="{% static '/images/logo/06.png' %} "/></li>
                    <li><img src="{% static '/images/logo/07.png' %} "/></li>
                    <li><img src="{% static '/images/logo/08.png' %} "/></li>
                </ul>
            </div>
        </div>        
        <script type="text/javascript"  src="{% static '/scripts/banner.js' %}"></script>
        {% endblock %}
    </body>
</html>