<head>
        {% load static %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static '/styles/main.css' %}">
        <title>ZeroPoint IT</title>
        <meta name="description" content="">
</head>
<body>
    <!--<div class="banner" style="background-image: url({% static '/images/hills.jpg' %})">-->
    <div>
        <img id="placeholder" src="{% static '/images/hills.jpg' %} " class="banner" />
        <nav class="nav">
            <a href="/">
                <img src="{% static '/images/logo.png' %}">
                <p class="get-title">零点坐标 </p>
            </a>
            <ul> 
                <li><a href="#">首页</li>  
                <li><a href="#">产品服务</li> 
                <li><a href="#">解决方案</li>
                <li><a href="#">应用案例</li>
                <li><a href="#">新闻资讯</li>
                <li><a href="#">关于我们</li> 
                <li></li>
            </ul>
            <ul>
                <li><a href="{% static '/images/hills.jpg' %}" onclick="showPic(this); return false;" class="img-item">·</a></li>
                <li><a href="{% static '/images/stone.jpg' %}" onclick="showPic(this); return false;" class="img-item">·</a></li>
                <li><a href="{% static '/images/sea.jpg' %}" onclick="showPic(this); return false;" class="img-item">·</a></li>
            </ul>

        </nav>
    </div>
    <script type="text/javascript"  src="{% static '/scripts/banner.js' %}"></script>
</body>