{% load static %}
<nav class="nav">
    <a href="/">
        <img src="{% static '/images/logo.png' %}">
        <p class="get-title">零点坐标 </p>
    </a>
    <ul> 
        <li><a href="/">首页</li>  
        <li><a href="/product">产品服务</li> 
        <li><a href="/solution">解决方案</li>
        <li><a href="/case">应用案例</li>
        <li><a href="/news">新闻资讯</li>
        <li><a href="/about">关于我们</li>
    </ul>
</nav>
<div class="tel">
    <img src="{% static '/images/tel.png' %}">186-8888-6666</img>
    <p>工作时间：9:00-17:30</p>
    <a href=""></a>
</div>

