<img id="placeholder" src="../static/images/hills.jpg" class="banner" />
<a href="../static/images/stone.jpg" onclick="showPic(this); return false;" >红日</a>
<a href="../static/images/sea.jpg" onclick="showPic(this); return false;" >海</a>
<script>
function showPic(whichpic){
    var source = whichpic.getAttribute("href");
    var placeholder = document.getElementById("placeholder");
    placeholder.setAttribute("src", source);
}
</script>
<style>
    .banner{
        width: 100%;
        height: 400px;
        position: relative;
        background-position: center;
    }
</style>