<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<META http-equiv=Content-Type content=text/html; charset=utf-8>
		<link rel="stylesheet" type="text/css" href="{% static '/styles/main.css' %}">
		<title>babyrecord</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
	</head>

	<body topmargin=2 leftmargin=2 bgcolor=#ffffff>

	<div class="get">
	  <div >
	    <div >
	      <h1 class="get-title">我在长大</h1>
	    </div>
	  </div>
	</div>

	<div class="nav" align="center"  >
	    <div class="nav_li" align="center" >
	      <ul>
	        <li><a href="/">开始记录</a></li>
	        <li><a href="./history.html">查看历史</a></li>
	        <li><a href="./baby.html">宝宝信息</a></li>
	        <li><a href="./email.html">发送邮箱</a></li>
	        <li><a href="./camera.html">宝宝拍照</a></li>
	        </li>
	      </ul>
	    </div>
	  </div>
    <div >{{tips}} </div>
    </br>
    
	<div class="labeltitle">宝宝信息：</div>

	<form method="POST" action="{% url 'check' %} ">
		{%csrf_token%}
		<div style="width:100%;padding:30px;padding-bottom:80px;">
			<span class="labelrecord">宝宝姓名：</span>
			{{name}}		
			</br></br>
			<span class="labelrecord">宝宝性别：</span>
			{{gender}}
			</br></br>
			<span class="labelrecord">宝宝出生日期：</span>
			{{birthtime}}
			</br></br>
		  	<span class="labelrecord">妈妈邮箱：</span>
			{{momemail}}
			<br /><br />
			<input type="submit" align="left" value="保存" name="savebaby" />
			<br /><br />
		</div>
		<br />	 
	</form>
	</body>
</html>