<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<META http-equiv=Content-Type content=text/html; charset=utf-8>
		<link rel="stylesheet" type="text/css" href="{% static '/styles/main.css' %}">
		<title>babyrecord</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
	</head>

	<body topmargin=2 leftmargin=2 bgcolor=#ffffff>

	<div class="get">
	  <div >
	    <div >
	      <h1 class="get-title">我在长大</h1>
	    </div>
	  </div>
	</div>

	<div class="nav" align="center"  >
	    <div class="nav_li" align="center" >
	      <ul>
	        <li><a href="/">开始记录</a></li>
	        <li><a href="./history.html">查看历史</a></li>
	        <li><a href="./baby.html">宝宝信息</a></li>
	        <li><a href="./email.html">发送邮箱</a></li>
	        <li><a href="./camera.html">宝宝拍照</a></li>
	        </li>
	      </ul>
	    </div>
	  </div>
    
	<div class="labeltitle">照片目录：</div>
	</br>
	<div class="labelrecord">
         /photo文件夹中已经存了{{photoid}}张照片。</br>
    {% for i in photoname %}
		{# <div class="labelrecord"> 拍照时间：{{i[0]}} 照片名：{{i[1]}}</div> #}
		<div class="labelrecord"> {{i}}</div>
    {% endfor %}
	</div>
   	</div>
	</body>
</html>