<!DOCTYPE html>
<html>
	{% extends 'nav.html' %}
	{% block title %} Baby Info {% endblock %}
	{% block description %}这里是宝宝基本信息，包括生日性别等。{% endblock %}
	{% block content %}
	<input type="button" onclick="showAndHidden1();" align="left" value="更新宝宝信息："/> 
	<form action={% url 'check' %} method="post">
		{%csrf_token%}
		<div id="div1" align="left" style="width:100%;padding:30px;padding-bottom:80px;display:none;">
			<span class="labelrecord">宝宝姓名：</span><input name="name" type="text" /><br /><br />
			<span class="labelrecord">宝宝性别：</span><input name="gender" type="text" /><br /><br />
			<span class="labelrecord">宝宝出生日期：</span>
				<input type="number" name="year" min="2005" max="2020" step="1" value="2015">年
				<input type="number" name="month" min="1" max="12" step="1" value="1">月
				<input type="number" name="date" min="1" max="31" step="1" value="15">日<br /><br />
		  	<span class="labelrecord">妈妈邮箱：</span><input name="email" type="text" />	<br /><br />			
		  	<input type="submit" align="left" value="保存" name="savebaby" />
		</div>
	</form>	

	<div id="div2" style="width:100%;padding:30px;padding-bottom:80px;display:block">
	<p class="labeltitle">宝宝信息：</p>
		<span class="labelrecord">宝宝姓名：</span>
		{{name}}		
		</br></br>
		<span class="labelrecord">宝宝性别：</span>
		{{gender}}
		</br></br>
		<span class="labelrecord">宝宝出生日期：</span>
		{{birthtime}}
		</br></br>
		<span class="labelrecord">妈妈邮箱：</span>
		{{momemail}}
		<br /><br />
	</div>
		<br />	

	<script type="text/javascript"> 
		function showAndHidden1(){ 
			var div1=document.getElementById("div1"); 
			if(div1.style.display=='none') div1.style.display='block';
			if(div2.style.display=='block') div2.style.display='none';  
			} 
	</script> 
    {% endblock %}
</html>