<!DOCTYPE html>
<html>
	{% extends 'nav.html' %}
	{% block title %} Baby History {% endblock %}
	{% block description %}您为宝宝记载的历史记录都在这里。{% endblock %}
	{% block content %}
	<div class="labeltitle">历史记录：</div>
	{% for i in historylabel %}
		<div class="labelrecord"> 现在时间是：{{i.1}}</div>
		<div class="labelrecord"> 宝宝今天{{i.2}}天</div>
		<div class="labelrecord"> 宝宝今天的表现是：{{i.3}}</div>
        <div class="labelrecord"><br> </div>
		{#<div class="labelrecord"> {{i}}</div> #}
    {% endfor %}		
   	</div>
    {% endblock %}
</html>